<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Users</title>
<link rel="stylesheet" href="../css/styles.css">    
</head>

<body>

<h3>Users Admin Page</h3>

<a href="/users/add">Add User</a>

<ol>
<% users.forEach(user => { %>

<li>
<%= user.name %> - <%= user.email %>

<a href="/users/edit/<%= user._id %>">Edit</a>

<form action="/users/delete/<%= user._id %>" method="POST" style="display:inline;">
<button type="submit">Delete</button>
</form>

</li>

<% }) %>
</ol>

</body>
</html>